html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
    overflow-y: scroll;
}

body {
    margin: 0;
}

.background h1 {
    /*background-image: "assets/squares.svg";*/
    background-image: url("https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg");
    margin: 0;
    padding: 2em 0;
    text-align: left;
    font-size: 3em;
}

.background h1 a {
    text-decoration: none;
    margin-left: 10%;
    color: #393939;
}

.navbar {
    padding: 0.2% 10% !important;
    text-align: center;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0, 10%;
    list-style: none;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

.black,
.white {
    padding: 2em 10%;
    margin-bottom: 2em;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

.video-container {
    position: relative;
    overflow: hidden;
    box-shadow: -3px 3px #000;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Bison, sans-serif;
    line-height: 1.2 !important;
    letter-spacing: 0.03em;
}

h2 h3 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    color: inherit;
    font-weight: 700;
}

h2 {
    font-size: 1.62671rem;
}

h3 {
    font-size: 1.38316rem;
}

h4,
h5 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

h4 {
    font-size: 1rem;
}

button {
    margin: 0;
    padding: 0.5em;
    background: white;
    color: black;
    background-image: none;
    border: 1px solid black;
    border-radius: 0;
    overflow: visible;
    width: auto;
}

button:hover {
    box-shadow: -3px 3px #000;
}

a {
    background-color: transparent;
    color: inherit;
}

p {
    line-height: 1.5em;
}

p.media {
    font-size: 80%;
}

img.partners {
    vertical-align: middle;
    margin-right: 2%;
    width: 10%;
}

img {
    filter: grayscale(100%);
    max-width: 100%;
    padding: 0;
    margin: 0 0 1em;
    border-style: none;
}

footer a,
footer p {
    font-size: 0.8em;
}

footer a {
    display: block;
    line-height: 2em;
}

footer.black {
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em;
}

.camp-option {
    border: 1px solid grey;
    margin-bottom: 1em;
    text-align: left;
    padding: 1em;
    box-shadow: -3px 3px #000;
}

.camp-option h3 {
    border-bottom: 1px solid grey;
    grid-column: 1/3;
}
